<%= render 'home/header' %>
<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div>
      <img src="https://img.icons8.com/clouds/100/000000/lock.png">
    </div>

    <!-- Login Form -->
    <%= form_tag sessions_path do |form| %>
    <%= text_field_tag :email, nil, class: "fadeIn second", id: "login", placeholder: "Email"%>
    <%= password_field_tag :password, nil, class: "fadeIn third", id: "password", placeholder: "Password"%>
    <div 
      class="g-recaptcha mb-4 mt-4" 
      data-sitekey="6LctGKMUAAAAABFenO3Jk96C7k_0Vz9ygtpkbfbp"
      data-callback="reCaptchaCallback"
    >
    </div>
    <div class="mt-2 mb-2">
      <%= submit_tag 'Login', class: "btn bg-blue-en4all text-light", id: "btnLogin", disabled: true%>
    </div>
    <% end %>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div class="clearfix">
        <a class="underlineHover text-blue-en4all float-left" href="<%= new_password_reset_path %>">Forgot Password?</a>
        <a class="underlineHover text-blue-en4all float-right" href="/signup">Sign Up</a>
      </div>
    </div>

  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  function reCaptchaCallback() {
    $("#btnLogin").attr("disabled", false);
  }
</script>