<%= render 'home/header'%>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div>
      <img src="https://img.icons8.com/clouds/100/000000/lock.png">
    </div>

    <!-- Login Form -->
    <%= form_tag sessions_path do |form| %>
    <%= text_field_tag :email, nil, class: "fadeIn second", id: "login", placeholder: "Email"%>
    <%= password_field_tag :password, nil, class: "fadeIn third", id: "password", placeholder: "Password"%>

    <div class="mt-2 mb-2">
      <%= submit_tag 'Login', class: "btn bg-blue-en4all text-light"%>
    </div>
    <% end %>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div class="clearfix">
        <a class="underlineHover text-blue-en4all float-left" href="#">Forgot Password?</a>
        <a class="underlineHover text-blue-en4all float-right" href="/signup">Sign Up</a>
      </div>
    </div>

  </div>
</div>
