<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<%= render partial: 'home/header' %>
<div id="ng-app" ng-app="diffDemo" layout="column" flex ng-controller="diffCtrl">
  <div class="container">
    <div class="page-header">
      <h1 class="h3">Progress Stepper</h1>
      <h2 class="h5">Features: bootstrap tabs, disabled states, tooltips and directional functionality.</h2>
    </div>
    <div class="panel panel-default">
      <!--form-content-->
      <form id="form-id">
        <!--Progressbar-->
        <% k = 0 %>
        <!-- Progress bar sentence -->
        <!-- <ul class='progress' style="height: 1.3rem;"> -->
        <!--   <li class="active"></li> -->
        <!--   <% (2..@count.to_i). each do |sentence| %> -->
        <!--   <li><% sentence %></li> -->
        <!--   <% end %> -->
        <!-- </ul> -->
        
        <!--Account Setup-->
        <div id="ng-app" ng-app="diffDemo" layout="column" flex ng-controller="diffCtrl">
          <% WriteFrDic.all.sample(@count.to_i).each do |sens| %>

          <fieldset>
            <h2 class='title'>Sentence <%= k = k + 1 %> / <%= @count %> </h2>
            <h3 class='sub-title'>
              <div class="page-header">
	              <span class="minutes">This audio will auto play after </span><span class="timer">05</span><span>s</span>
              </div>
            </h3>
            <h1>{{products}}</h1>
            <h1><%= sens.result%></h1>
            <div class="page-header">
              <%= audio_tag "#{sens.audio}", controls: true, id:"timer-beep", class: "timer-beep" %>
            </div>
            <div class="md-form" data-ng-init="anyFunction()">
              <textarea layout-fill id="sens-content" class="md-textarea left form-control" ng-model="left"></textarea>
              <textarea layout-fill id="sens-content-right" class="md-textarea right form-control" ng-model="right"><%= sens.result%></textarea>
              <h1 class="right"><%= sens.result%></h1>
              <pre class="textdiff" processing-diff left-obj="left" right-obj="right='<%= sens.result%>'" options="options"></pre>
              <!-- Modal -->
              <div class="modal fade" id="myModal<%= k %>" role="dialog" >
                <div class="modal-dialog" role="document">
                               <!-- Modal content-->
                  <div class="modal-content" >
                    <div class="modal-body" style="padding:40px 50px;">
                      <form role="form">
                        <div class="form-group" >
                          <ol >
                            <li ng-repeat="x in products"><pre class="textdiff" processing-diff left-obj="x.left" right-obj="x.right" options="options"></pre></li>
                           
                          </ol>
                        </div>                        
                      </form>
                    </div>
                    <div class="modal-footer">
                      <input type="button" class="btn btn-default pull-left" data-dismiss="modal"><span class="fa fa-star"></span></button>
                      <button type="submit" class="btn btn-danger pull-left" data-dismiss="modal"><span class="fa fa-close"></span></button>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <p><%= sens.content %></p>
            </div>
            <% if (k == @count.to_i) %>
            
            <input type='button' value='Check' ng-click="clear()" class="custom-button" id="myBtn" onclick="$('#myModal<%= k %>').modal()">
            <input type='button' name='next' ng-click="clear()" class='submit-button custom-button' value="Submit">
            <% else %>
            <input type="button" value='Check' class="custom-button" id="myBtn" onclick="$('#myModal<%= k %>').modal()" >
            <input type='button' name='next' class='next-button custom-button' value="Next">
            <% end %>
          </fieldset>
          <% end %>
      </form>
      <!-- end form -->
      </div>
    </div>
  </div>
</div>






<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js'></script>
<script src='http://rawgit.com/google/diff-match-patch/master/javascript/diff_match_patch.js'></script>
<script src='http://rawgit.com/amweiss/angular-diff-match-patch/v0.7.0/angular-diff-match-patch.js'></script>


<script>
  var app = angular.module('diffDemo', ['ngMaterial', 'diff-match-patch']);
  app.config(function($mdThemingProvider) {
    $mdThemingProvider.theme('default')
      .primaryPalette('indigo')
      .accentPalette('blue');
  });
  
  app.controller('diffCtrl', ['$scope', function($scope) {
    
    $scope.anyFunction = function(){
      
      $scope.left = "";
      $scope.right = "";
      
      $scope.options = {
        editCost: 4,
        interLineDiff: true,
        ignoreTrailingNewLines: true,
        attrs: {
          insert: {
            'data-attr': 'insert',
            'class': 'insertion'
          },
          delete: {
            'data-attr': 'delete'
          },
          equal: {
            'data-attr': 'equal'
          }
        }
      };
      
    };
    
    

    $scope.clear = function() {
      $scope.products = [];
      $('fieldset').each(function(i) {
        $scope.addMe1 = $('textarea .left')[i].value;
        $scope.addMe2 = $('.md-textarea .right')[i].value;

        $scope.products.push({"left":$scope.addMe1, "right":$scope.addMe2});
      });
    };
    
  }]);
</script>


