<!-- <p id="notice"><%= notice %></p> -->

<!-- <h1>Write Fr Dics</h1> -->

<!-- <table> -->
  <!--   <thead> -->
    <!--     <tr> -->
      <!--       <th colspan="3"></th> -->
      <!--     </tr> -->
    <!--   </thead> -->

  <!--   <tbody> -->
    <!--     <% @write_fr_dics.each do |write_fr_dic| %> -->
    <!--       <tr> -->
      <!--         <td><%= link_to 'Show', write_fr_dic %></td> -->
      <!--         <td><%= link_to 'Edit', edit_write_fr_dic_path(write_fr_dic) %></td> -->
      <!--         <td><%= link_to 'Destroy', write_fr_dic, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <!--       </tr> -->
    <!--     <% end %> -->
    <!--   </tbody> -->
  <!-- </table> -->

<!-- <br> -->

<!-- <%= link_to 'New Write Fr Dic', new_write_fr_dic_path %> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="container">
  <div class="page-header">
    <h1 class="h3">Progress Stepper
      <small>
        built with Bootstrap, SCSS and custom JS.
      </small>
    </h1>
    <h2 class="h5">Features: bootstrap tabs, disabled states, tooltips and directional functionality.</h2>

  </div>
  <div class="panel panel-default" style="height: 450px;">
    <div class="panel-body">
      <div class="nl-process">
        <div class="complete-hint"><i class="fa fa-check"></i></div>
        <ul class="process-list">
          <!-- Add form list sentences -->
          <li class="process-item is-active">
            <div class="process-content">
              <div class="process-active-bar"></div>
              <div class="circle">
                <span></span>
              </div>
              <div class="des">
                <span>Step1</span>
              </div>
            </div>
          </li>
          <li class="process-item is-active">
            <div class="process-content">
              <div class="process-active-bar"></div>
              <div class="circle">
                <span></span>
              </div>
              <div class="des">
                <span>Step2</span>
              </div>
            </div>
          </li>
          <li class="process-item is-current">
            <div class="process-content">
              <div class="process-active-bar"></div>
              <div class="circle">
                <span></span>
              </div>
              <div class="des">
                <span>Step3</span>
              </div>
            </div>
          </li>
          <li class="process-item">
            <div class="process-content">
              <div class="process-active-bar"></div>
              <div class="circle">
                <span></span>
              </div>
              <div class="des">
                <span>Step4</span>
              </div>
            </div>
          </li>
          <li class="process-item">
            <div class="process-content">
              <div class="process-active-bar"></div>
              <div class="circle">
                <span></span>
              </div>
              <div class="des">
                <span>Step5</span>
              </div>
            </div>
          </li>
          <li class="process-item">
            <div class="process-content">
              <div class="process-active-bar"></div>
              <div class="circle">
                <span></span>
              </div>
              <div class="des">
                <span>Step5</span>
              </div>
            </div>
          </li>
          <!-- End form list sentences -->
        </ul>
      </div>
      <div class="page-header">
        <!-- Content user -->
        <div class="row">
          <%= audio_tag "170.wav", controls: true, id: "timer-beep" %>
          <div class="timer">
	          <span class="minutes">This audio will auto play after </span><span class="seconds">03</span><span>s</span>
          </div>
        </div>
      </div>
      <div class="md-form md-outline">
        <textarea id="form75" class="md-textarea form-control" rows="3"></textarea>
        <label for="form75">Material textarea</label>
      </div>
      <div class="footer">
        <button class="footer-btn  prev is-show">Prev</button>
        <button class="footer-btn next is-show">Next</button>
        <button class="footer-btn finished is-hide">Complete</button>
      </div>
      
    </div>
  </div>
</div>

<p><%= @count %></p>
