<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src='/assets/recaptcha.js' type="text/javascript"></script>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="container signupPage p-4">
  <!-- Icon -->
  
  <!-- Tabs Titles -->

  <!-- Icon -->
  <div class="text-center">
    <img src="https://img.icons8.com/clouds/100/000000/lock.png">
  </div>
  <!-- Sign up Form -->
  <%= form_with(model: user, local: true) do |form| %>
  <div class="row mb-2">
    <div class="col-12 col-lg-4">
      <label class="text-lg-right">Email: <span class="text-danger">*</span></label>
                                                                    </div>
    <%= form.email_field :email, required: true, class: "fadeIn second col-12 col-lg-4",  id: "login", placeholder: "Email" %>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-lg-4">
      <label class="text-lg-right">Password: <span class="text-danger">*</span></label>
                                                                       </div>
    <%= form.password_field :password, required: true, id: "password", class: "fadeIn third col-12 col-lg-4", placeholder: "Password", pattern: "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$", title: "Must contain at least one number, one uppercase, one lowercase and one special letter, and at least 8 or more characters", onchange: "this.setCustomValidity(this.validity.patternMismatch ? 'Must contain at least one number, one uppercase, one lowercase and one special letter, and at least 8 or more characters' : ''); if(this.checkValidity()) form.password_confirmation.pattern = this.value;" %>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-lg-4">
      <label class="text-lg-right">Password Confirm: <span class="text-danger">*</span></label>                                                                              </div>
                                                                                                                                                                          <%= form.password_field :password_confirmation, required: true, id: "password_confirmation", class: "fadeIn third col-12 col-lg-4", placeholder: "Password Confirmation", pattern: "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", onchange: "this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password' : '');" %>
  </div>
  <div 
      class="g-recaptcha mb-4 mt-4 text-center" 
      data-callback="reCaptchaCallback"
    >
    </div>
  <div class="mt-2 mb-2 text-center">
    <%= form.submit 'Sign Up', class: 'btn bg-blue-en4all text-light', id: "btnSigup", disabled: true %>
    <%= link_to 'CANCEL', logout_path, :class => "btn btn-secondary text-light" %>
  </div>
  <% end %>
</div>

<script>
  function reCaptchaCallback() {
    $("#btnSigup").attr("disabled", false);
  }
  $('.sub-menu-parent').hide();
</script>
