<%= form_with url: course_store_path, class: 'panel-body post-form' do |f| %>
    <div class="row" style="border-top-style: double;padding-top: 15px; font-family: 'Roboto', sans-serif; font-size: 15px;">
        <div class="col-6 col-md-1">
            <div class="md-form" style="margin-top: unset">
                <%= f.number_field :day_id, class: "form-control", id: "input-char-counter", placeholder: "DAY", required: true%>
                <label for="input-char-counter" style="font-family: 'Roboto', sans-serif; font-size: 15px;"></label>
          </div>
        </div>
        <div class="col-6 col-md-4">
            <% grouped_options_skill = [['Speaking', ['Read Aloud','Repeat Sentence','Describe Image', 'Retell Lecture', 'Answer Short Question']],['Writing', ['Summarise Written Text','Essay']], ['Reading', ['Reading & Writing Fill In Blanks','Multiple Choice, Multiple Answer','Re-order Paragraph', 'Fill In Blanks (Drag & Drop)', 'Multiple Choice, Single Answer']], ['Listening', ['Summarize Spoken Text', 'Multiple Choice, Multiple Answer', 'Fill In Blanks', 'Highlight Correct Summary', 'Multiple Choice, Single Answer', 'Select Missing Word', 'Highlight Incorrect Words', 'Write From Dictation']]] %>
            <%= f.select :skill, grouped_options_for_select(grouped_options_skill), {},{class: "course-select form-control input-sm"}%>
        </div>
        <div class="col-6 col-md-2">
            <% grouped_options_quality = ['5', '6','7','8', '9', '10', '11', '12','13', '14'] %>
            <%= f.select :quality, options_for_select(grouped_options_quality), {}, {class: "grade-select form-control input-sm"}%>
        </div>
        <div class="col-6 col-md-2">
            <% grouped_options_status = ['Not Starting', 'In Progress', 'Done'] %>
            <%= f.select :status, options_for_select(grouped_options_status, 'Not Starting'), {}, {class: "credits-select form-control input-sm"} %>
        </div>
        <div class="col-6 col-md-3">
            <%= f.submit "Add", class: "add btn btn-success btn-md" %>
        </div>
    </div>
<% end %>
