<nav class="fixed-top bg-blue-en4all shadow">
  <div class="row" id="small-sidebar">
    <div class="col-2 pl-4 pt-2 pb-2" id="act-toggle-sidebar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> 
    </div>

    <div class="col-8 text-center p-1">
      <%=image_tag("favicon.ico", size: "42x42") %>
    </div>
  </div>

  <div id="user-info">
    <ul >
      <li id="act-user-info" class="avatar d-flex float-right sub-menu-parent">
        <%=image_tag("cuteCat.jpg") %>
      </li>
    </ul> 
  </div>
  
  <div class="d-none" id="content-user-info"> 
    <ul>
      <li class="sub-menu-parent"><a data-turbolinks='false' class="menu" href="<%= logout_path %>"><h2 class="menu-title">Log out</h2></a></li>
    </ul>
  </div>
  

    <ul class="hList" id="content-sidebar" style="list-style: none;">

      <li class="sub-menu-parent">
        <a data-turbolinks='false' href="/" class="menu" id="home"><h2 class="menu-title">Home</h2></a>
      </li>
      
      <% if current_user && current_user.email == "admin@en4pr.com"  %>
      <li class="sub-menu-parent">
        <a data-turbolinks='false' href="<%= admin_index_path %>" class="menu" id="home"><h2 class="menu-title">ADMIN BOARD</h2></a>
      </li>
      <% else %>
      <li class="sub-menu-parent">
        <a data-turbolinks='false' href="<%= read_alouds_chart_path %>" class="menu" id="home"><h2 class="menu-title">Read Aloud</h2></a>
      </li>

      <li class="sub-menu-parent">
        <a data-turbolinks='false' href="<%= pronunciation_index_path %>" class="menu" id="home"><h2 class="menu-title">Pronunciation</h2></a>
      </li>

      <li class="sub-menu-parent">
        <a data-turbolinks='false' href="<%= write_fr_dics_public_path %>" class="menu" id="home"><h2 class="menu-title">Write From Dictation</h2></a>
      </li>

      <li class="sub-menu-parent">
        <a data-turbolinks='false' href="<%= home_course_path %>" class="menu" id="home"><h2 class="menu-title">Schedule</h2></a>
      </li>   
      <% end %>
      
    </ul> 

</nav>
<div style="height: 60px;">
</div>
<script>
  var pathName = window.location.pathname;
  if(pathName === "/")
    //$("#home").addClass("d-none");
    $("#home").attr('disabled', 'disabled')

  if(pathName !== "/read_alouds"){
    try {
      speechSynthesis.cancel(); 
    } catch (error) {
      console.log(error);
    }

    try {
      responsiveVoice.cancel();
    } catch (error) {
      console.log(error);
    }
  }


  $("#act-toggle-sidebar").click(function() {
    if ( $('#content-sidebar').is('.d-none') ) {
      $("#content-sidebar").removeClass("d-none");
    }
    else{
      $("#content-sidebar").addClass("d-none");
    }
  });

  $("#act-user-info").click(function(){
    if ( $('#content-user-info').is('.d-none') ) {
      $("#content-user-info").removeClass("d-none");
    }
    else{
      $("#content-user-info").addClass("d-none");
    }
  });
</script>
