<div class="container">
  <%= render 'header' %>
  <div class="row">
    <h1 >SCHEDULE</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            UPDATE YOUR SCHEDULE HERE
        </div>
    </div>
  </div>
  <div class="student-grade-table">
      <% if current_user.id %>
          <% course = Course.where(user_id: current_user.id) %>
          <% (1..30).each do |n| %>
              <% by_day = course.where(day_id: n) %>
              <% if by_day != [] %>
                  <div class="row panel-body panel panel-default">
                      <div class="col-6 col-md-1">DAY <%= n %></div>
                      <div class="col-6 col-md-3">SKILL</div>
                      <div class="col-6 col-md-3">QUALITY</div>
                      <div class="col-6 col-md-3">STATUS</div>
                      <div class="col-6 col-md-2">ACTIONS</div>
                  </div>
              <% end %>
              <% by_day.order("id ASC").each do |c| %>
                  <div class="row panel-body">
                      <div class="col-6 col-md-1"></div>
                      <div class="col-6 col-md-3"><%= c.skill %></div>
                      <div class="col-6 col-md-3"><%= c.quality%></div>
                      <div class="col-6 col-md-3"><%= c.status%></div>
                      <div class="col-6 col-md-2">
                          <button class="edit btn btn-warning btn-xs">Edit</button>
                          <button class="test btn btn-info btn-xs">Test</button>
                          <%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, c, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete btn btn-danger btn-xs" %>
                      </div>
                  </div>
                  
                  <% @course = Course.find(c.id) %>
                  <%= render 'edit_form_course', course: @course  %>
                  
              <% end %>
          <% end %>
          <%= render 'create_form_course' %>
      <% end %>
  </div>
</div>

<script>
  var $dataTable = $('.student-grade-table');
  $dataTable.on('click', '.edit', function(e) {
    var $row = $(this).closest('.row');
    $row.hide();
    $row.next().show();
  })
</script>
