<%= render 'header' %>
<div class="main-course">
  <div class="home-course row justify-content-center">
    <div class="col-lg-10">
      <div class="bg-white shadow p-2">
        <div class="student-grade-table p-4">
          <div class="row row-course-header d-flex">
            <div class="col-1 mt-3 mb-3 col-course-day font-weight-bold">DAY</div>
            <div class="col-4 mt-3 mb-3 col-course-skill font-weight-bold">SKILL</div>
            <div class="col-2 mt-3 mb-3 col-course-quality font-weight-bold">QUANTITY</div>
            <div class="col-2 mt-3 mb-3 col-course-status font-weight-bold">STATUS</div>
            <div class="col-3 mt-3 mb-3 col-course-action font-weight-bold">ACTIONS</div>
          </div>
          
          <% Course.where(user_id: 6).pluck(:day_id, :skill, :quality, :status, :id).sort.each do |course| %>
          <div class="row row-course panel-body d-flex border-top">
            <div class="col-1 mt-2 mb-2 col-course-day"><%= course.first %></div>
            <div class="col-4 mt-2 mb-2 col-course-skill"><%= course[1] %></div>
            <div class="col-2 mt-2 mb-2 col-course-quality"><%= course[2] %></div>
            <div class="col-2 mt-2 mb-2 col-course-status"><%= course[3] %></div>
            <div class="col-3 mt-2 mb-2 col-course-action">
              <a class="edit btn-sm btn-warning" style="display: unset;color: white;"><span class="fa fa-pencil"></span></a>
              <% if (course[1] == "Write From Dictation") %>
              <%= link_to '<span class="fa fa-tv"></span>'.html_safe, write_fr_dics_path(:audio => course[2], :status_id => course.last), :class => "test btn-sm btn-info", :style => "display: unset;color: white;", :"data-turbolinks" => false %>
              <%elsif (course[1] == "Read Aloud") %>
              <%= link_to '<span class="fa fa-tv"></span>'.html_safe, read_alouds_path(:audio => course[2], :status_id => course.last), :class => "test btn-sm btn-info", :style => "display: unset;color: white;", :"data-turbolinks" => false %>
              <% else %>
              <a class="test btn-sm btn-info" style="display: unset;color: white;" href="#"><span class="fa fa-tv"></span></a>
              <% end %>
              <% @course = Course.find(course.last) %>
              <%= link_to '<span class="fa fa-trash-o"></span>'.html_safe, @course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete btn-sm btn-danger" %>
            </div>
          </div>
          <%= render 'edit_form_course', course: @course  %>
          
          <% end %>
          <%= render 'create_form_course' %>

        </div>
      </div>
    </div>
  </div>
<div>

<script>
  var $dataTable = $('.student-grade-table');
  $dataTable.on('click', '.edit', function(e) {
    var $row = $(this).closest('.row');
    $row.hide();
    $row.next().show();
  })
</script>
