<%= render 'header' %>
<div class="container bg-white p-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Course</a></li>
      <li class="breadcrumb-item active" aria-current="page">Schedule</li>
    </ol>
  </nav>
  <div class="student-grade-table">
      <% if current_user.id %>
        <% course = Course.where(user_id: current_user.id) %>
        <div class="row mb-4">
            <div class="col-6 col-md-1 font-weight-bold">DAY</div>
            <div class="col-6 col-md-4 font-weight-bold">SKILL</div>
            <div class="col-6 col-md-2 font-weight-bold">QUALITY</div>
            <div class="col-6 col-md-2 font-weight-bold">STATUS</div>
            <div class="col-6 col-md-3 font-weight-bold">ACTIONS</div>
        </div>
          <% (1..30).each do |n| %>
              <% by_day = course.where(day_id: n) %>
              
              <% by_day.order("id ASC").each do |c| %>
                  <div class="row panel-body mb-2">
                      <div class="col-6 col-md-1"><%= n %></div>
                      <div class="col-6 col-md-4"><%= c.skill %></div>
                      <div class="col-6 col-md-2"><%= c.quality%></div>
                      <div class="col-6 col-md-2"><%= c.status%></div>
                      <div class="col-6 col-md-3">
                          <a class="edit btn-sm btn-warning" style="display: unset;color: white;"><span class="fa fa-pencil"></span></a>
                          <% if (c.skill == "Write From Dictation") %>
                            <%= link_to '<span class="fa fa-tv"></span>'.html_safe, write_fr_dics_path(:audio => c.quality), :class => "test btn-sm btn-info", :style => "display: unset;color: white;"%>
                          <% else %>
                            <a class="test btn-sm btn-info" style="display: unset;color: white;" href="#"><span class="fa fa-tv"></span></a>
                          <% end %>
                          <%= link_to '<span class="fa fa-trash-o"></span>'.html_safe, c, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete btn-sm btn-danger" %>
                      </div>
                  </div>
                  
                  <% @course = Course.find(c.id) %>
                  <%= render 'edit_form_course', course: @course  %>
                  
              <% end %>
          <% end %>
          <%= render 'create_form_course' %>
      <% end %>
  </div>
</div>

<script>
  var $dataTable = $('.student-grade-table');
  $dataTable.on('click', '.edit', function(e) {
    var $row = $(this).closest('.row');
    $row.hide();
    $row.next().show();
  })
</script>
