<%= render 'header' %>
<div class="container">
  <h4 class="text-center mb-4">SCHEDULE</h4>
  <div class="student-grade-table">
      <% if current_user.id %>
        <% course = Course.where(user_id: current_user.id) %>
        <div class="row mb-4">
            <div class="col-6 col-md-1 font-weight-bold">DAY</div>
            <div class="col-6 col-md-4 font-weight-bold">SKILL</div>
            <div class="col-6 col-md-2 font-weight-bold">QUALITY</div>
            <div class="col-6 col-md-2 font-weight-bold">STATUS</div>
            <div class="col-6 col-md-3 font-weight-bold">ACTIONS</div>
        </div>
          <% (1..30).each do |n| %>
              <% by_day = course.where(day_id: n) %>
              
              <% by_day.order("id ASC").each do |c| %>
                  <div class="row panel-body mb-2">
                      <div class="col-6 col-md-1"><%= n %></div>
                      <div class="col-6 col-md-4"><%= c.skill %></div>
                      <div class="col-6 col-md-2"><%= c.quality%></div>
                      <div class="col-6 col-md-2"><%= c.status%></div>
                      <div class="col-6 col-md-3 d-flex">
                          <button class="edit btn btn-warning mr-2">.</button>
                          <button class="test btn btn-info mr-2">.</button>
                          <%= link_to "<span>.</span>".html_safe, c, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete btn btn-danger" %>
                      </div>
                  </div>
                  
                  <% @course = Course.find(c.id) %>
                  <%= render 'edit_form_course', course: @course  %>
                  
              <% end %>
          <% end %>
          <%= render 'create_form_course' %>
      <% end %>
  </div>
</div>

<script>
  var $dataTable = $('.student-grade-table');
  $dataTable.on('click', '.edit', function(e) {
    var $row = $(this).closest('.row');
    $row.hide();
    $row.next().show();
  })
</script>
