<%= render 'home/header' %>
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="read-alouds bg-white shadow p-2">
            <div>
                <h2 class="text-left font-weight-bold pb-3">VOWELS</h2>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">
                    <a class="text-white" style="font-size: 50px" >ʌ</a>                 
                </div>
                
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">                     
                    <a class="text-white" style="font-size: 50px" >ɑ:</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">                     
                    <a class="text-white" style="font-size: 50px" >æ</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">                     
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">e</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: indianred;">                     
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">ə</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;"> 
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">ɜ:</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">  
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">ɪ</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">    
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">i:</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">   
                    <a class="text-white" style="font-size: 50px" >ɒ</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">   
                    <a class="text-white" style="font-size: 50px" >ɔ:</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: indianred;"> 
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">ʊ</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">        
                    <a class="text-white" style="font-size: 50px" >u:</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">   
                    <a class="text-white" style="font-size: 50px" >aɪ</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">    
                    <a class="text-white" style="font-size: 50px" >aʊ</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">      
                    <a class="text-white" style="font-size: 50px" >eɪ</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">   
                    <a class="text-white" style="font-size: 50px" >oʊ</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">  
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">ɔɪ</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">    
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">eə</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">    
                    <a class="text-white" style="font-size: 50px" >ɪə</a>                
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">    
                    <a class="text-white" style="font-size: 50px" >ʊə</a>                
                </div>
                <div class="clearfix"></div>
                <h2 class="text-left font-weight-bold pt-3">CONSONANTS</h2>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">  
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">b</a>               
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;"> 
                    <a class="text-white" style="font-size: 50px" >d</a>              
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">  
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">f</a>             
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: indianred;">      
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">g</a>           
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">  
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">h</a>           
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">  
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">j</a>              
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">  
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">k</a>          
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">     
                    <a class="text-white" style="font-size: 50px" >l</a>            
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">  
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">m</a>           
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">    
                    <a class="text-white" style="font-size: 50px" >n</a>             
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: indianred;">   
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">ŋ</a>           
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">     
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">p</a>         
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">  
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">r</a>             
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">   
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">s</a>                
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">  
                    <a class="text-white" style="font-size: 50px" >ʃ</a>           
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">      
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">t</a>       
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;"> 
                    <a class="text-white" style="font-size: 50px" >tʃ</a>          
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: seagreen;">    
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">θ</a>    
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: indianred;">     
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">ð</a>                 
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">     
                    <a class="text-white" style="font-size: 50px" >v</a>            
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">    
                    <a class="text-white" style="font-size: 50px" >w</a>       
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">    
                    <a class="text-white" style="font-size: 50px" >z</a>        
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: indianred;">    
                    <a class="text-white" style="font-size: 50px" href="<%= pronunciation_only_word_path %>">ʒ</a>          
                </div>
                <div class="border rounded text-center m-2 shadow" style="width: 90px; height: 90px; line-height: 80px; float: left;background-color: grey;">   
                    <a class="text-white" style="font-size: 50px" >dʒ</a>           
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>