<%= render 'home/header' %>
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="read-alouds bg-white shadow p-2">
            <div class="row">
                <div class="col-4">
                    <div class="w-100 text-center">
                        <h5 class="border-bottom pb-3 pt-3"><a href="<%= pronunciation_list_word_path %>">COMPLETED</a></h5>
                        <div>
                            <p class="text-left font-weight-bold pb-3">VOWELS</p>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ʌ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɑ:</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">æ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">e</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ə</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɜ:</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɪ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">i:</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɒ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɔ:</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ʊ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">u:</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">aɪ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">aʊ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">eɪ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">oʊ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɔɪ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">eə</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɪə</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ʊə</a>
                            <p class="text-left font-weight-bold pt-3">CONSONANTS</p>
                                <a class="font-italic">None</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 border-left border-right">
                    <div class="w-100 text-center">
                        <h5 class="border-bottom pb-3 pt-3"><a href="<%= pronunciation_list_word_path %>">DON'T COMPLETE</a></h5>
                        <div>
                            <p class="text-left font-weight-bold pb-3">VOWELS</p>
                                <a class="font-italic">None</a>
                            <p class="text-left font-weight-bold pt-3">CONSONANTS</p>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">b</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">d</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">f</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">g</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">h</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">j</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">k</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">l</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">m</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">n</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ŋ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">p</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">r</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">s</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ʃ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">t</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">tʃ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">θ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ð</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">v</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">w</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">z</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ʒ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">dʒ</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="w-100 text-center">
                        <h5 class="border-bottom pb-3 pt-3"><a href="<%= pronunciation_list_word_path %>">QUEUE</a></h5>
                        <div>
                            <p class="text-left font-weight-bold pb-3">VOWELS</p>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ʌ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɑ:</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">æ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">e</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ə</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɜ:</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɪ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">i:</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɒ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɔ:</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ʊ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">u:</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">aɪ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">aʊ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">eɪ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">oʊ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɔɪ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">eə</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ɪə</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ʊə</a>
                            <p class="text-left font-weight-bold pt-3">CONSONANTS</p>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">b</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">d</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">f</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">g</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">h</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">j</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">k</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">l</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">m</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">n</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ŋ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">p</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">r</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">s</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ʃ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">t</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">tʃ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">θ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ð</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">v</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">w</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">z</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">ʒ</a>
                            <a href="<%= pronunciation_only_word_path %>" class="pr-3">dʒ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>