<!DOCTYPE html>
<html>
  <head>
    <title>English</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'angular.js', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= javascript_include_tag 'diff-match.js', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body onload="calculationScreen()">
    <%= yield %>
  </body>
</html>

<script>
  function calculationScreen() {
    var ws = $(window).width();
    if(ws > 768){
      $("#content-sidebar").removeClass("d-none");
    }
    else {
      $("#content-sidebar").addClass("d-none");
    }
  }

  $(window).resize(function() {
    calculationScreen();
  });
</script>
